.navlink{
    color: rgb(255, 255, 255);
    text-decoration: none !important;
    padding: 1rem;
}
.navlink:hover{
    text-decoration: none !important;
    color: white !important;
}

/* drawer icons */
.MuiSvgIcon-root{
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}

.menuicon{
    font-size: 6rem !important;
    color: rgba(236, 236, 236, 0.918);
    padding: 1rem;
}

/* drawer background */
.MuiDrawer-paperAnchorLeft{ 
    text-decoration: none !important;
    background: linear-gradient(90deg, rgb(71, 71, 71) 0%, rgba(71, 71, 71, 0.979) 35%, rgba(187, 187, 187, 0.192) 100%) !important;
}

.header-wrapper{
    position: fixed;
}
